<!DOCTYPE html>
<html>
  <head>
    <title>Butik zdrave hrane | PoÄetna stranica</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="../assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700" rel="stylesheet">
    
  </head>

  <body>
    <!-- Header -->



    <%= yield %>

    <!-- Footer -->


<!-- JS -->
<script src="http://dev.cunami.cloud/oneshop-demo/assets/js/main.js"></script>

  </body>
</html>
